[submodule "js/dht-rpc"]
	path = js/dht-rpc
	url = git@github.com:cowlicks/dht-rpc.git
	branch = rust-changes
[submodule "hdht/tests/common/js/hyperdht"]
	path = hdht/tests/common/js/hyperdht
	url = git@github.com:cowlicks/hyperdht.git
[submodule "hdht/tests/common/js/rpc"]
	path = hdht/tests/common/js/rpc
	url = git@github.com:cowlicks/dht-rpc.git
[submodule "hdht/tests/common/js/sodium-native"]
	path = hdht/tests/common/js/sodium-native
	url = git@github.com:cowlicks/sodium-native.git
